{{#each result}}
    {{#if result.id}}
        <form action='/{{this.id}}?_method=PUT' method="POST" class='devoured'>
            <input type='text' name='' value={{this.burger_name}}>
            <button type='submit'>DEVOUR IT</button>
        </form>
    {{else}}
        <form action='/{{this.id}}?_method=PUT' method="POST" class='notDevoured'>
            <input type='text' name='' value={{this.burger_name}}>
            <button type='submit'>DEVOUR IT</button>
        </form>
    {{/if}}
{{/each}}
<form action="/" method="POST">
    <input type="text" name='burgerName'>
    <button>Submit</button>
</form>